@model List<gamemanager.Models.GameEntry>

@{
    ViewData["Title"] = "Home Page";
    
}


<div class="jumbotron text-center">
    <h1>Games</h1>
    <p>The games I own and the ones I want</p>
</div>

<div class="container">

    @{//check for message in viewbag
   string message = ViewBag.Message == null ? string.Empty : ViewBag.Message;}

    @if (!string.IsNullOrEmpty(message))
    {
    <div class="alert alert-primary">
        <strong>Message</strong> @message
    </div>
    }

    <div class="row">
        <div class="table table-striped">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Owned</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Ranking</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model)
                        {
                            var computedRanking = item.Owned ? "N/A" : item.Ranking.ToString();
                            var computedPrice = item.Owned ? "N/A" : item.Price.ToString();
                            var computedOwnership = item.Owned ? "Yes" : "No";
                            var computedRating = item.Owned ? item.Rating.ToString() : "N/A";
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Genre</td>
                            <td>@computedOwnership</td>
                            <td>@computedPrice</td>
                            <td>@computedRating</td>
                            <td>@computedRanking</td>
                            <td>
                                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "Home", new { id = item.Id })'" title="Edit" value="Edit">Edit</button>
                                <button class="btn btn-secondary" onclick="location.href='@Url.Action("ViewDlc", "Dlc", new { id = item.Id })'" title="ViewDlc" value="ViewDlc">View Dlc</button>
                            </td>

                        </tr>

                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12"><button class="btn btn-primary" onclick="location.href='@Url.Action("New", "Home")'" title="New" value="New">New Game</button></div>
        </div>

    </div>

